/*
	General styles
*/
@import url("../font/font.css");
@import url("./normalize.css");

body {
  font-family: Pretendard, Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.4;
	color: #000;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body, html {height:100%;}
html * {box-sizing: border-box;}
ol, ul, dl {margin:0;padding:0;list-style:none;}

h1, h2, h3, h4 {font-family: "Noto Sans KR", "Source Sans Pro", Arial, sans-serif;}
h1 {font-weight:500;font-size:20px;}
h2 {font-size:18px;}

a, a:visited {text-decoration: none;color: initial;}
/* a:hover {text-decoration: underline;} */
button {margin:0;padding:0;}

/* a, button, */
input:focus,
select:focus {outline: none;}

.only-pc {display: block !important;}
.only-mobile {display: none !important;}

.app-content {position: relative;}
.app-header img, .app-gnb img, .app-content img {display: inline-block; width: 100%; vertical-align: top;}

@media all and (min-width:1px) and (max-width:1024px) {
  .only-pc {display: none !important;}
  .only-mobile {display: block !important;}
}
