@charset "utf-8";

/* pc main hero */
.main .only-pc .hero-fake {}

.main .only-pc .hero-real {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222527;
    overflow: hidden;
}

.main .only-pc .hero-content {
    position: absolute;
    top: 16.250vw;
    left: 0;
    font-size: 0;
}

.main .only-pc .hero-content .box {
    position: absolute;
    top: 9.271vw;
    left: 18.177vw;
    width: 11.406vw;
    height: 1.667vw;
    background-color: #CC1724;
    transform-origin: left center;
}

.main .only-pc .hero-content .row {
    opacity: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    overflow: hidden;
}

.main .only-pc .hero-content .row span {
    display: inline-block;
}

.main .only-pc .hero-content .row img {
    width: auto;
}

.main .only-pc .hero-content .row01 {
    padding-left: 23.854vw;
}

.main .only-pc .hero-content .row02 {
    margin-top: 0.990vw;
    padding-left: 23.594vw;
}

.main .only-pc .hero-content .row03 {
    margin-top: -1.823vw;
    padding-left: 23.438vw;
}

.main .only-pc .hero-content .row04 {
    margin-top: 1.146vw;
    padding-left: 23.854vw;
}

/* pc nhfinance */
.main .only-pc .nhfinance-fake {
    margin-top: -5.938vw;
}

.main .only-pc .nhfinance-fake:before {
    content: "";
    position: absolute;
    top: 5.938vw;
    left: 0;
    right: 0;
    bottom: -10px;
    background-color: #222527;
    z-index: -1;
}

.main .only-pc .nhfinance-real {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222527;
}

.main .only-pc .nhfinance-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* pc main location */
.main .only-pc .location {
    background: #222527;
}

.main .only-pc .location>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.main .only-pc .location-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.main .only-pc .location-nav>img {
    position: relative;
    z-index: 1;
}

.main .only-pc .location-nav .inner {
    position: absolute;
    top: 12.15vw;
    left: -0.35vw;
    width: 34.75vw;
    height: 34.95vw;
}

.main .only-pc .location-nav .block {
    position: absolute;
    left: 50%;
    top: 0;
    color: #999;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.25, .74, .22, .99);
    transform: translateX(-50%);
}

.main .only-pc .location-nav .block01 {
    width: 16.66vw;
    height: 16.67vw;
}

.main .only-pc .location-nav .block02 {
    width: 24.82vw;
    height: 25.05vw;
}

.main .only-pc .location-nav .block03 {
    width: 100%;
    height: 100%;
}

.main .only-pc .location-nav .svg {
    width: 100%;
    height: 100%;
}

.main .only-pc .location-nav .svg01 {
    position: absolute;
    top: 0;
    left: 0;
}

.main .only-pc .location-nav .svg02 {
    color: #fff;
    transform: rotate(-90deg);
    transform-origin: center;
}

.main .only-pc .location-nav .block .svg02 circle {
    transition: stroke-dashoffset 0.8s cubic-bezier(.74, 0, .24, .99);
    stroke-dasharray: 314%;
    stroke-dashoffset: 314%;
}

.main .only-pc .location-nav .block.active .svg02 circle {
    stroke-dashoffset: 0%;
}

.main .only-pc .location-nav .block .min {
    position: absolute;
    bottom: -3.68vw;
    left: 50%;
    width: 8.333vw;
    height: 8.333vw;
    transform: translateX(-50%);
    background: #222527;
}

.main .only-pc .location-nav .block .min img {
    opacity: 0.3;
    transition: opacity 0.4s 0.2s;
}

.main .only-pc .location-nav .block.active .min img {
    opacity: 1;
}

.main .only-pc .location-group {
    margin-left: auto;
    margin-right: 8.333vw;
    position: relative;
    width: 52.813vw;
    box-sizing: content-box;
    z-index: 5;
}

.main .only-pc .location-group .item {
    width: 52.813vw;
}

.main .only-pc .location-group .item+.item {
    padding-top: 19.062vw;
}

.main .only-pc .location-group .item:last-child {
    padding-bottom: 19.062vw;
}

/* pc main vip */
.main .only-pc .vip-fake {}

.main .only-pc .vip-real {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: #ececec;
}

.main .only-pc .vip-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* pc main amenities */
.main .only-pc .amenities {
    background-color: #ececec;
}

.main .only-pc .amenities>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.main .only-pc .amenities-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.main .only-pc .amenities-group {
    position: relative;
    margin-left: auto;
    width: 68.125vw;
    z-index: 5;
}

.main .only-pc .amenities-group .item:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* pc main retails */
.main .only-pc .retails {
    background-color: #212121;
    overflow: hidden;
}

.main .only-pc .retails-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.main .only-pc .retails-group {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: 1.146vw;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 35.677vw;
    transform: translateY(-50%);
    overflow: hidden;
}

.main .only-pc .retails-group .inner {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 70vw;
    padding-left: calc(13.021vw - 1.771vw);
    padding-right: calc(8.333vw - 1.771vw);
    overflow: visible;
}

.main .only-pc .retails-group .item {
    flex: 0 0 auto;
    width: 28.125vw;
    padding: 0 1.771vw;
    box-sizing: content-box;
}

.main .only-pc .retails-group .item:nth-child(2n) {
    padding-top: 3.125vw;
}

/* pc main news */
.main .only-pc .news {
    background-color: #fff;
    overflow: hidden;
}

.main .only-pc .news-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.main .only-pc .news-group {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: 1.146vw;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 0.156vw;
    height: 17.708vw;
    overflow: hidden;
}

.main .only-pc .news-group .inner {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 70vw;
    padding-left: calc(18.229vw - 4.375vw);
    padding-right: calc(8.333vw - 4.375vw);
}

.main .only-pc .news-group .item {
    flex: 0 0 auto;
    width: 43.438vw;
    padding: 0 4.375vw;
    box-sizing: content-box;
}

/* mobile main */
.main .only-mobile .hero .btn-reservation1 {
    position: absolute;
    top: 9.2%;
    right: 0;
    width: 18%;
    height: 2.6%;
    color: transparent;
}

/* mobile reservation1 sub-reservation1 */
.reservation1 .only-mobile .btn-reservation2 {
    position: absolute;
    top: 112.385vw;
    left: 0;
    width: 100%;
    height: 80.646vw;
    color: transparent;
}

/* mobile reservation2 sub-reservation2 */
.reservation2 .only-mobile .btn-reservation3 {
    position: absolute;
    top: 62.385vw;
    left: 0;
    width: 100%;
    height: 58.646vw;
    color: transparent;
}

/* mobile reservation3 sub-reservation3 */
.reservation3 .only-mobile .btn-reservation4 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 18vw;
    color: transparent;
}

/* pc about */
.about .only-pc {
    background-color: #cbcbcb;
}

/* pc about hero */
.about .only-pc .hero-real {
    position: absolute;
    top: 16.2%;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.about .only-pc .hero-title {
    position: absolute;
    top: 10.6%;
    left: 0;
    width: 100%;
}

.about .only-pc .hero-title .row {
    opacity: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    overflow: hidden;
}

.about .only-pc .hero-title .row span {
    display: inline-block;
}

.about .only-pc .hero-title .row img {
    display: block;
    width: auto;
}

.about .only-pc .hero-title .row01 {
    padding-left: 8.750vw;
}

.about .only-pc .hero-title .row02 {
    margin-top: 1.042vw;
    padding-left: 8.281vw;
}

.about .only-pc .hero-subject {
    position: absolute;
    top: 49.6%;
    left: 0;
    width: 100%;
}

.about .only-pc .hero-subject .row {
    opacity: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    overflow: hidden;
}

.about .only-pc .hero-subject .row span {
    display: inline-block;
}

.about .only-pc .hero-subject .row img {
    display: block;
    width: auto;
}

.about .only-pc .hero-subject .row01 {
    padding-left: 8.333vw;
}

.about .only-pc .hero-subject .row02 {
    margin-top: 0.938vw;
    padding-left: 8.333vw;
}

.about .only-pc .hero-content {
    background-color: #fff;
}

/* pc about overview */
.about .only-pc .overview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: #cbd3db;
}

.about .only-pc .overview-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.about .only-pc .overview-content {
    position: relative;
    z-index: 1;
}

/* pc about richard */
.about .only-pc .richard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: #cbd3db;
}

.about .only-pc .richard-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.about .only-pc .richard-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.about .only-pc .richard-content {
    position: relative;
    z-index: 1;
}

/* pc about life */
.about .only-pc .life {
    background-color: #212121;
    overflow: hidden;
}

.about .only-pc .life-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.about .only-pc .life-group {
    position: absolute;
    top: 21.4%;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 35.677vw;
    overflow: hidden;
}

.about .only-pc .life-group .inner {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 70vw;
    padding-left: calc(13.021vw - 1.771vw);
    padding-right: calc(8.333vw - 1.771vw);
    overflow: visible;
}

.about .only-pc .life-group .item {
    flex: 0 0 auto;
    width: 28.125vw;
    padding: 0 1.771vw;
    box-sizing: content-box;
}

.about .only-pc .life-group .item:nth-child(2n) {
    padding-top: 3.125vw;
}

/* pc about specification */
.about .only-pc .specification {
    margin-bottom: -2px;
}

.about .only-pc .specification-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.about .only-pc .specification-content>div {
    position: relative;
}

/* pc about entrance */
.about .only-pc .entrance-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.about .only-pc .entrance-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.about .only-pc .entrance-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.about .only-pc .footer-fake {
    background-color: #cbcbcb;
}

/* pc about gbd */
.about .only-pc .gbd-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.about .only-pc .gbd-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}